<h2>Plot</h2>
<%= column_chart Order.group(:bill_country_iso_name).sum(:total), title: "Country sales", xtitle: "Country", ytitle: "Sales"%>
</br></br>
<%= column_chart @month_sales, title: "Monthly Sales", xtitle: "Month", ytitle: "Sales"%>
</br></br>
<%= pie_chart @pie, title: "Currecy Used" %>
</br>
</br>
<%= line_chart Order.group(:completed_at_y).sum(:total) ,title: "Timeline sales" %>

<%= column_chart Order.group(:Year).sum(:total),title: "Yearly Sales", xtitle: "Year", ytitle: "Sales" %>

</br>
<%= column_chart Order.group(:Hour).sum(:total),title: "Peak Hour Sales", xtitle: "Hour", ytitle: "Sales" %>

</br>
<%= column_chart Order.group(:DayofWeek).sum(:total),title: "Day of Week Sales", xtitle: "Day of Week", ytitle: "Sales" %>

</br>
<%= column_chart @top_city,title: "Top City for Sales", xtitle: "City", ytitle: "Sales", stacked: true %>

</br>
<%= column_chart @top_products  ,title: "Top Products Sold", xtitle: "Product Name", ytitle: "Sales", stacked: true %>

</br>
<%= column_chart @returned ,title: "Most Returned Products", xtitle: "Product Name", ytitle: "Sales", stacked: true %>

</br>

</br>
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<h5>Country Sales</h5>

<%= geo_chart Order.group(:bill_country_iso_name).count %>
